<div class="container">
    <div class="menu">
      <div class="title">Clientes</div>
      <div class="crud-buttons">
        <button>Cadastrar Cliente</button>
      </div>
    </div>
    <div class="table-clients">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef> Idade </th>
              <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="accountNumber">
              <th mat-header-cell *matHeaderCellDef> Nº da Conta </th>
              <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
  </div>